### Importing the library that will be used in this Data Preparation

In [1]:
#importing the library that will be used
import pandas as pd
import numpy as np
import joblib
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, f_classif

IMPORT THE DATASET

In [2]:
dataset = pd.read_csv("GSE4115_data_set.csv")

## Cleaning the data (Remove suspect sample, endcode the target variable, etc)

In [3]:
#rename Unnamed colomn from 'Unnamed: 0' into 'sample number'
dataset.rename(columns= {'Unnamed: 0' : 'sample_number'}, inplace=True)

In [4]:
# remove sample words
dataset["Type"] = dataset["Type"].str.replace(r'Sample', '')

# remove sample number
dataset["Type"] = dataset["Type"].str.replace(r'[0-9]', '')

# remove space between target variable
dataset["Type"] = dataset["Type"].str.replace(r' ', '')

#remove suspect sample
dataset = dataset.drop(dataset.index[dataset["Type"] == 'Smokerwithsuspectlungcancer'])

C:\Users\anasb\AppData\Local\Temp\ipykernel_1876\2445075083.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset["Type"] = dataset["Type"].str.replace(r'[0-9]', '')

In [5]:
#Encode The target variable
dataset['Type'] = dataset['Type'].astype('category')
dataset['Type'] = dataset['Type'].cat.codes

In [6]:
dataset.head(5)

,sample_number,211414_at,220619_at,214008_at,204324_s_at,205279_s_at,205386_s_at,214761_at,211555_s_at,201789_at,...,210017_at,205409_at,213797_at,212576_at,34868_at,201818_at,219547_at,214218_s_at,215037_s_at,Type
0,GSM93997,1.760051,1.592658,1.847297,2.004386,2.227531,1.702238,2.155039,1.836713,2.024259,...,1.682065,2.364193,2.157403,2.852263,2.488573,2.484822,2.789126,1.665079,2.133257,0
1,GSM94019,1.795014,1.657724,1.835889,2.080957,2.233859,1.580361,2.122718,1.851865,2.022459,...,1.656675,2.461219,2.134476,2.846738,2.530154,2.732370,2.614153,1.619105,2.324705,1
2,GSM94020,1.825061,1.626483,1.858130,2.170610,2.248432,1.715575,2.168324,2.090098,2.216724,...,1.654779,2.539762,2.201562,2.959224,2.568422,2.592492,2.538111,1.689167,2.385822,1
3,GSM94021,1.773217,1.589668,1.837949,1.945553,2.215105,1.599106,2.111247,1.841720,2.006722,...,1.619667,2.522812,2.403671,2.747622,2.430216,2.591979,2.625857,1.654162,2.592473,1
4,GSM94022,1.691989,1.735922,1.780269,2.026950,2.166022,1.508896,2.055945,1.996917,2.030167,...,1.656882,2.542456,2.125123,2.773777,2.480444,2.638087,2.621172,1.677003,2.540970,1

In [7]:
X = dataset.drop("Type",1)
y = dataset["Type"]

C:\Users\anasb\AppData\Local\Temp\ipykernel_1876\439375982.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = dataset.drop("Type",1)

In [8]:
X.head(5)

,sample_number,211414_at,220619_at,214008_at,204324_s_at,205279_s_at,205386_s_at,214761_at,211555_s_at,201789_at,...,200685_at,210017_at,205409_at,213797_at,212576_at,34868_at,201818_at,219547_at,214218_s_at,215037_s_at
0,GSM93997,1.760051,1.592658,1.847297,2.004386,2.227531,1.702238,2.155039,1.836713,2.024259,...,2.047203,1.682065,2.364193,2.157403,2.852263,2.488573,2.484822,2.789126,1.665079,2.133257
1,GSM94019,1.795014,1.657724,1.835889,2.080957,2.233859,1.580361,2.122718,1.851865,2.022459,...,1.740169,1.656675,2.461219,2.134476,2.846738,2.530154,2.732370,2.614153,1.619105,2.324705
2,GSM94020,1.825061,1.626483,1.858130,2.170610,2.248432,1.715575,2.168324,2.090098,2.216724,...,1.742136,1.654779,2.539762,2.201562,2.959224,2.568422,2.592492,2.538111,1.689167,2.385822
3,GSM94021,1.773217,1.589668,1.837949,1.945553,2.215105,1.599106,2.111247,1.841720,2.006722,...,1.814710,1.619667,2.522812,2.403671,2.747622,2.430216,2.591979,2.625857,1.654162,2.592473
4,GSM94022,1.691989,1.735922,1.780269,2.026950,2.166022,1.508896,2.055945,1.996917,2.030167,...,1.696045,1.656882,2.542456,2.125123,2.773777,2.480444,2.638087,2.621172,1.677003,2.540970

In [9]:
y.head(5)

0    0
1    1
2    1
3    1
4    1
Name: Type, dtype: int8

In [10]:
# Remove the sample number and the index, then show the data
X = X.iloc[:,2:]
X.head(5)

,220619_at,214008_at,204324_s_at,205279_s_at,205386_s_at,214761_at,211555_s_at,201789_at,206931_at,216632_at,...,200685_at,210017_at,205409_at,213797_at,212576_at,34868_at,201818_at,219547_at,214218_s_at,215037_s_at
0,1.592658,1.847297,2.004386,2.227531,1.702238,2.155039,1.836713,2.024259,1.852110,1.783695,...,2.047203,1.682065,2.364193,2.157403,2.852263,2.488573,2.484822,2.789126,1.665079,2.133257
1,1.657724,1.835889,2.080957,2.233859,1.580361,2.122718,1.851865,2.022459,1.784609,1.814730,...,1.740169,1.656675,2.461219,2.134476,2.846738,2.530154,2.732370,2.614153,1.619105,2.324705
2,1.626483,1.858130,2.170610,2.248432,1.715575,2.168324,2.090098,2.216724,2.065969,1.767775,...,1.742136,1.654779,2.539762,2.201562,2.959224,2.568422,2.592492,2.538111,1.689167,2.385822
3,1.589668,1.837949,1.945553,2.215105,1.599106,2.111247,1.841720,2.006722,1.769430,1.764662,...,1.814710,1.619667,2.522812,2.403671,2.747622,2.430216,2.591979,2.625857,1.654162,2.592473
4,1.735922,1.780269,2.026950,2.166022,1.508896,2.055945,1.996917,2.030167,1.717770,1.794888,...,1.696045,1.656882,2.542456,2.125123,2.773777,2.480444,2.638087,2.621172,1.677003,2.540970

In [11]:
#Seeing the target variable
y.head(5)

0    0
1    1
2    1
3    1
4    1
Name: Type, dtype: int8

### Split into feature and target variable then use Variance Treshold & Select KBest for feature selection

#### Variance Threshold

In [12]:
# Split dataset into X_train, X_test, y_train, y_test with train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)
feat_name = X_train.columns.values.tolist()
len(feat_name)

22214

In [13]:
selector = VarianceThreshold(threshold=0.008)
X_train_sel_1 = selector.fit_transform(X_train)

In [14]:
supp = selector.get_support()
sel_feat = []

for i in range(len(supp)):
    if supp[i] == True:
        sel_feat.append(feat_name[i])

len(sel_feat)

9073

#### Select KBest

In [15]:
selector_2 = SelectKBest(f_classif, k=5)
selector_2.fit_transform(X_train_sel_1, y_train.values.ravel())

array([[1.66301573, 1.881098  , 2.30118463, 2.51578485, 2.19708503],
       [2.07165045, 1.84848494, 2.33619311, 2.52340915, 2.32076424],
       [1.6569059 , 1.5920556 , 2.38405893, 2.60959234, 2.28921625],
       [1.86219348, 1.64960212, 2.71777687, 2.64012923, 2.24550175],
       [1.83356777, 1.60264928, 2.77203069, 2.81549489, 2.25895996],
       [1.79650307, 1.58213879, 2.84765623, 2.67618886, 2.37643848],
       [1.75850061, 1.60435414, 2.68135773, 2.70310292, 2.39772029],
       [1.77716045, 1.78790298, 2.56842642, 2.5969051 , 2.19368881],
       [1.75321044, 1.54621983, 2.64591604, 2.54855549, 2.23940904],
       [1.94906273, 1.62279779, 2.90413164, 2.72879604, 2.40054285],
       [1.6996076 , 1.87473402, 2.48634728, 2.45912573, 2.20920941],
       [1.59934636, 1.8720021 , 2.30676153, 2.51679102, 2.17466559],
       [1.63295217, 1.83864122, 2.30272087, 2.43460181, 2.16774874],
       [1.92339947, 1.74698257, 2.47354406, 2.62119597, 2.36244913],
       [1.75942858, 1.68163277, 2.57350783, 2.51609964, 2.24564504],
       [1.67179562, 1.66982139, 2.34170999, 2.49937726, 2.20415981],
       [1.73975394, 1.84014334, 2.51587566, 2.46660024, 2.18753182],
       [1.8360651 , 1.69832251, 2.76157931, 2.65161178, 2.3420694 ],
       [1.71384711, 1.71524983, 2.52188821, 2.56234135, 2.21144556],
       [1.77920424, 1.54725683, 2.59579007, 2.67419916, 2.38024348],
       [1.6397994 , 1.87791854, 2.43287231, 2.54398775, 2.17399311],
       [1.75811083, 1.58440311, 2.69106488, 2.54051288, 2.20782509],
       [1.72401369, 1.77428273, 2.65290978, 2.481821  , 2.18197077],
       [1.91923557, 1.93643705, 2.55149362, 2.69627164, 2.20645662],
       [1.73559886, 1.76425527, 2.43160905, 2.47654682, 2.21102746],
       [1.77251321, 1.61073313, 2.69519499, 2.52968479, 2.26291658],
       [1.76335506, 1.54278946, 2.44053899, 2.68100188, 2.28657099],
       [1.78621745, 1.68803485, 2.43560619, 2.61888162, 2.18281241],
       [1.78776802, 1.60875059, 2.5477378 , 2.59268068, 2.14013339],
       [1.5879242 , 1.85467872, 2.37256268, 2.47115858, 2.25479719],
       [1.77406466, 1.8032506 , 2.51006489, 2.66202726, 2.21921407],
       [1.79321171, 1.65161109, 2.56356061, 2.57775993, 2.33993407],
       [1.71547302, 1.88084458, 2.61506665, 2.61059849, 2.40963315],
       [1.63722396, 1.82035095, 2.37370945, 2.48344434, 2.19571673],
       [1.92421735, 1.5924092 , 2.86962251, 2.7266039 , 2.4176322 ],
       [1.89226317, 1.53753463, 2.47815512, 2.6415236 , 2.23095491],
       [1.78408137, 1.67053989, 2.47165883, 2.4795392 , 2.26426738],
       [2.0835286 , 1.53703658, 2.80853374, 2.67246155, 2.43069206],
       [1.64975248, 1.77999675, 2.31040644, 2.50567705, 2.21628226],
       [1.94483896, 1.64511552, 3.00341082, 2.78694905, 2.32941469],
       [1.61046574, 1.6868474 , 2.60053334, 2.53789365, 2.38191874],
       [1.65807892, 1.80483708, 2.47395182, 2.56883035, 2.1966061 ],
       [1.58651353, 1.85916491, 2.28311103, 2.57900946, 2.12481976],
       [1.76729546, 1.78455968, 2.61284857, 2.46045898, 2.24642815],
       [1.85152519, 1.5095864 , 2.73193307, 2.68317789, 2.45870615],
       [1.98967674, 1.57065431, 2.85939752, 2.67380492, 2.41380717],
       [1.6994046 , 1.85676026, 2.32511149, 2.48448387, 2.14388185],
       [1.62951609, 1.9093699 , 2.34094959, 2.46536383, 2.06948599],
       [1.67616268, 1.85160714, 2.72598824, 2.5983421 , 2.11594014],
       [1.64432701, 1.95040682, 2.39640202, 2.52113267, 2.17031928],
       [1.70830203, 1.65781513, 2.64764193, 2.5957748 , 2.2106295 ],
       [1.82353049, 1.67136539, 2.62130007, 2.63737631, 2.28503491],
       [1.77212087, 1.94961785, 2.5136004 , 2.47288439, 2.21590593],
       [1.78177095, 1.85672401, 2.57437452, 2.60989275, 2.17559741],
       [1.75993302, 1.60154725, 2.54959081, 2.5929588 , 2.40931517],
       [1.79203988, 1.57488963, 2.72512622, 2.66246074, 2.26900501],
       [1.9889195 , 1.52485554, 2.52566951, 2.7090837 , 2.40786882],
       [1.90845094, 1.75293309, 2.78186011, 2.51528504, 2.18910026],
       [1.78263082, 1.68042518, 2.44647672, 2.53595365, 2.23913313],
       [1.90193809, 1.51929229, 2.63031833, 2.82572417, 2.33872761],
       [1.6348121 , 1.72523203, 2.35039031, 2.56919163, 2.36213909],
       [2.00487815, 1.83563268, 2.82627472, 2.53359674, 2.32229882],
       [1.72305129, 1.69743801, 2.53885622, 2.47656315, 2.32903832],
       [1.66434038, 1.7792862 , 2.39273039, 2.55422586, 2.16771824],
       [1.89205445, 1.60823158, 2.64566085, 2.69220667, 2.38798008],
       [1.61235533, 1.89080659, 2.47982009, 2.53780098, 2.28181277],
       [1.80553515, 1.71425695, 2.50098658, 2.58331809, 2.28438354],
       [1.81184378, 1.56233231, 2.6520461 , 2.81944093, 2.40571822],
       [1.84361288, 1.6615973 , 2.80707996, 2.68180995, 2.32045868],
       [1.7992154 , 1.64654748, 2.67805973, 2.55648092, 2.30435917],
       [1.89138847, 1.67961431, 2.73572449, 2.70586115, 2.22588909],
       [1.9864062 , 1.55839598, 2.93040032, 2.81718936, 2.38156662],
       [1.83873842, 1.64280506, 2.56135669, 2.64980788, 2.33149857],
       [1.83322245, 1.60977812, 2.60959565, 2.69002838, 2.29380482],
       [1.70647176, 1.80754411, 2.6627009 , 2.51717993, 2.2197605 ],
       [1.79363374, 1.82230961, 2.56503144, 2.60220458, 2.35594909],
       [1.76569089, 1.6613825 , 2.70082187, 2.5290688 , 2.38807213],
       [2.14293062, 1.59096507, 2.81020349, 2.6888994 , 2.38513197],
       [1.8936216 , 1.62058078, 2.5124752 , 2.61786854, 2.3226285 ],
       [1.73142961, 1.941142  , 2.57517798, 2.50889359, 2.08623382],
       [1.70730833, 1.92953841, 2.39402511, 2.46981019, 2.18680257],
       [1.58612388, 1.8634247 , 2.37327931, 2.49817579, 2.24252904],
       [1.67050001, 1.73963082, 2.39333245, 2.50468242, 2.24312827],
       [1.63043063, 1.74864585, 2.4613672 , 2.59024439, 2.22319145],
       [1.75868736, 1.6175712 , 2.70820291, 2.59581346, 2.20529679],
       [1.7010575 , 1.73344372, 2.36909903, 2.48026719, 2.202187  ],
       [1.72286905, 1.85248472, 2.48962514, 2.5388798 , 2.15944803],
       [1.82444242, 2.20676699, 2.45287504, 2.47553656, 2.32369086],
       [1.66100663, 1.85797264, 2.34806071, 2.63256859, 2.02066683],
       [1.67692947, 1.83624612, 2.80572788, 2.58437304, 2.30933687],
       [1.75457029, 1.85829179, 2.60396051, 2.59957917, 2.07963616],
       [1.81749024, 1.72934307, 2.52168875, 2.60139725, 2.38021743],
       [1.71274543, 1.92620594, 2.3713559 , 2.50453599, 2.15111878]])

In [16]:
support_2 = selector_2.get_support()
sel_feat_2 = []
for i in range(len(support_2)):
    if support_2[i] == True:
        sel_feat_2.append(sel_feat[i])

In [17]:
sel_feat_2

['202558_s_at', '217497_at', '218976_at', '203988_s_at', '216693_x_at']

In [18]:
joblib.dump(sel_feat_2, "sel_feat.pkl")

['sel_feat.pkl']

In [19]:
joblib.dump([selector, selector_2], "selector.pkl")

['selector.pkl']

In [20]:
#Export the dataset
X_train.to_csv(r'dataset-after-preparation\X_train.csv', index=False)
y_train.to_csv(r'dataset-after-preparation\y_train.csv', index=False)
X_test.to_csv(r'dataset-after-preparation\X_test.csv', index=False)
y_test.to_csv(r'dataset-after-preparation\y_test.csv', index=False)