### Importing the library that will be used in this Data Preparation

In [1]:
#importing the library that will be used
import pandas as pd
import numpy as np
import re

IMPORT THE DATASET

In [2]:
dataset = pd.read_csv("GSE4115_data_set.csv")

## Cleaning the data (Remove suspect sample, endcode the target variable, etc)

In [3]:
#rename Unnamed colomn from 'Unnamed: 0' into 'sample number'
dataset.rename(columns= {'Unnamed: 0' : 'sample_number'}, inplace=True)

In [4]:
# remove sample words
dataset["Type"] = dataset["Type"].str.replace(r'Sample', '')

# remove sample number
dataset["Type"] = dataset["Type"].str.replace(r'[0-9]', '')

# remove space between target variable
dataset["Type"] = dataset["Type"].str.replace(r' ', '')

#remove suspect sample
dataset = dataset.drop(dataset.index[dataset["Type"] == 'Smokerwithsuspectlungcancer'])

C:\Users\anasb\AppData\Local\Temp\ipykernel_20640\2445075083.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset["Type"] = dataset["Type"].str.replace(r'[0-9]', '')

In [5]:
#Encode The target variable
dataset['Type'] = dataset['Type'].astype('category')
dataset['Type'] = dataset['Type'].cat.codes

In [6]:
dataset.head(5)

,sample_number,211414_at,220619_at,214008_at,204324_s_at,205279_s_at,205386_s_at,214761_at,211555_s_at,201789_at,...,210017_at,205409_at,213797_at,212576_at,34868_at,201818_at,219547_at,214218_s_at,215037_s_at,Type
0,GSM93997,1.760051,1.592658,1.847297,2.004386,2.227531,1.702238,2.155039,1.836713,2.024259,...,1.682065,2.364193,2.157403,2.852263,2.488573,2.484822,2.789126,1.665079,2.133257,0
1,GSM94019,1.795014,1.657724,1.835889,2.080957,2.233859,1.580361,2.122718,1.851865,2.022459,...,1.656675,2.461219,2.134476,2.846738,2.530154,2.732370,2.614153,1.619105,2.324705,1
2,GSM94020,1.825061,1.626483,1.858130,2.170610,2.248432,1.715575,2.168324,2.090098,2.216724,...,1.654779,2.539762,2.201562,2.959224,2.568422,2.592492,2.538111,1.689167,2.385822,1
3,GSM94021,1.773217,1.589668,1.837949,1.945553,2.215105,1.599106,2.111247,1.841720,2.006722,...,1.619667,2.522812,2.403671,2.747622,2.430216,2.591979,2.625857,1.654162,2.592473,1
4,GSM94022,1.691989,1.735922,1.780269,2.026950,2.166022,1.508896,2.055945,1.996917,2.030167,...,1.656882,2.542456,2.125123,2.773777,2.480444,2.638087,2.621172,1.677003,2.540970,1

In [7]:
X = dataset.drop("Type",1)
y = dataset["Type"]

C:\Users\anasb\AppData\Local\Temp\ipykernel_20640\439375982.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = dataset.drop("Type",1)

In [8]:
X.head(5)

,sample_number,211414_at,220619_at,214008_at,204324_s_at,205279_s_at,205386_s_at,214761_at,211555_s_at,201789_at,...,200685_at,210017_at,205409_at,213797_at,212576_at,34868_at,201818_at,219547_at,214218_s_at,215037_s_at
0,GSM93997,1.760051,1.592658,1.847297,2.004386,2.227531,1.702238,2.155039,1.836713,2.024259,...,2.047203,1.682065,2.364193,2.157403,2.852263,2.488573,2.484822,2.789126,1.665079,2.133257
1,GSM94019,1.795014,1.657724,1.835889,2.080957,2.233859,1.580361,2.122718,1.851865,2.022459,...,1.740169,1.656675,2.461219,2.134476,2.846738,2.530154,2.732370,2.614153,1.619105,2.324705
2,GSM94020,1.825061,1.626483,1.858130,2.170610,2.248432,1.715575,2.168324,2.090098,2.216724,...,1.742136,1.654779,2.539762,2.201562,2.959224,2.568422,2.592492,2.538111,1.689167,2.385822
3,GSM94021,1.773217,1.589668,1.837949,1.945553,2.215105,1.599106,2.111247,1.841720,2.006722,...,1.814710,1.619667,2.522812,2.403671,2.747622,2.430216,2.591979,2.625857,1.654162,2.592473
4,GSM94022,1.691989,1.735922,1.780269,2.026950,2.166022,1.508896,2.055945,1.996917,2.030167,...,1.696045,1.656882,2.542456,2.125123,2.773777,2.480444,2.638087,2.621172,1.677003,2.540970

In [9]:
y.head(5)

0    0
1    1
2    1
3    1
4    1
Name: Type, dtype: int8

In [10]:
# Remove the sample number and the index, then show the data
X = X.iloc[:,2:]
X.head(5)

,220619_at,214008_at,204324_s_at,205279_s_at,205386_s_at,214761_at,211555_s_at,201789_at,206931_at,216632_at,...,200685_at,210017_at,205409_at,213797_at,212576_at,34868_at,201818_at,219547_at,214218_s_at,215037_s_at
0,1.592658,1.847297,2.004386,2.227531,1.702238,2.155039,1.836713,2.024259,1.852110,1.783695,...,2.047203,1.682065,2.364193,2.157403,2.852263,2.488573,2.484822,2.789126,1.665079,2.133257
1,1.657724,1.835889,2.080957,2.233859,1.580361,2.122718,1.851865,2.022459,1.784609,1.814730,...,1.740169,1.656675,2.461219,2.134476,2.846738,2.530154,2.732370,2.614153,1.619105,2.324705
2,1.626483,1.858130,2.170610,2.248432,1.715575,2.168324,2.090098,2.216724,2.065969,1.767775,...,1.742136,1.654779,2.539762,2.201562,2.959224,2.568422,2.592492,2.538111,1.689167,2.385822
3,1.589668,1.837949,1.945553,2.215105,1.599106,2.111247,1.841720,2.006722,1.769430,1.764662,...,1.814710,1.619667,2.522812,2.403671,2.747622,2.430216,2.591979,2.625857,1.654162,2.592473
4,1.735922,1.780269,2.026950,2.166022,1.508896,2.055945,1.996917,2.030167,1.717770,1.794888,...,1.696045,1.656882,2.542456,2.125123,2.773777,2.480444,2.638087,2.621172,1.677003,2.540970

In [11]:
#Seeing the target variable
y.head(5)

0    0
1    1
2    1
3    1
4    1
Name: Type, dtype: int8

## Split into feature and target variable then Variance Tresholding for feature selection

In [12]:
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split

In [13]:
# Split dataset into X_train, X_test, y_train, y_test with train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_train.shape

((93, 22214), (94, 22214), (93,), (93,))

In [14]:
feat_name = X_train.columns.values.tolist()
len(feat_name)

22214

In [15]:
selector = VarianceThreshold(threshold=0.008)
selector.fit_transform(X_train)

array([[1.85438271, 1.86816324, 1.97079918, ..., 2.19175908, 1.64769626,
        2.3253015 ],
       [2.09479648, 2.15467685, 2.29358531, ..., 2.19130744, 1.84174412,
        2.37625426],
       [1.88087826, 1.88081089, 2.10385848, ..., 2.22699613, 1.67572968,
        2.32638231],
       ...,
       [1.89147091, 1.90627453, 2.13095689, ..., 2.13852256, 1.68988417,
        2.38574439],
       [1.87098921, 1.81963263, 2.03789243, ..., 2.2270254 , 1.77697229,
        2.36336342],
       [1.82670467, 1.91197492, 2.09464652, ..., 2.24514666, 1.52952513,
        2.30869958]])

In [16]:
supp = selector.get_support()

In [17]:
sel_feat = []
for i in range(len(supp)):
    if supp[i] == True:
        sel_feat.append(feat_name[i])

In [18]:
len(sel_feat)

9073

In [19]:
#Export the dataset
X_train.to_csv(r'dataset-after-preparation\X_train.csv', index=False)
y_train.to_csv(r'dataset-after-preparation\y_train.csv', index=False)
X_test.to_csv(r'dataset-after-preparation\X_test.csv', index=False)
y_test.to_csv(r'dataset-after-preparation\y_test.csv', index=False)